

body{
  background-color: #4597DC;
  font: Arial;
}

a{
  color: #9CB3C6;
  text-decoration: none;
}

a:hover{
  color: #E7C2B3;
  text-decoration: none;
  text-shadow: 5px;
}

h1{
  font-family: serif;
}

/* Left Main Page Bar CSS */
#header{
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 300px;
  background-color: #1D3145
}
  #header .header-body h1{
    font-family: cursive;
    color: #FFFFFF;
    font-size: 20px;
    margin: auto;
  }

  #header .header-body img{
    width: 120px;
    margin: auto;
  }

  #header .menu-social-links{
    margin: auto;
  }

#menubar{
  margin: auto;
}

#menubar .header-menubar{
  list-style: none;
}

/* Front Page Image CSS */
#frontpage-image{
  margin-left: 300px;
}

/* Main Page Body CSS */
#main-text{
  margin-left: 300px;
}

/* Liquids Project Image */
#liquids-project{
  content: url("assets/images/liquidsprojectimage.jpg");
  width: 250px;
  height: 150px;
  vertical-align: middle;
}
